{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block content %}
<div class="d-flex flex-row justify-content-between">
    <h1>Inventory</h1>
   <!-- Button to trigger modal -->
<button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
    Create
</button>
</div>

<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Inventory</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/inventory" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" id="codeId" name="codeId" class="form-control" placeholder="Code ID" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" id="description" name="description" class="form-control" placeholder="Description" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" id="location" name="location" class="form-control" placeholder="Location" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group mb-3">
                        <input type="text" id="quantity" name="quantity" class="form-control" placeholder="Quantity" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    <div class="d-flex justify-content-end w-100">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>                    
        </div>
    </div>
</div>

{% if logs %}
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Code ID</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Quantity</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ log[1] }}</td> 
                            <td>{{ log[2] }}</td>
                            <td>{{ log[3] }}</td> 
                            <td>{{ log[4] }}</td>  
                            <td>{{ log[5] }}</td>  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No logs found.</p>
        {% endif %}
</div>

{% endblock %}
