{% extends "base.html" %} {% block title %}Users{% endblock %} {% block
content %}
<div class="d-flex flex-row justify-content-between">
  <h1>Users</h1>
  <!-- Button to trigger modal -->
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Create Account Type
  </button>
</div>

<!-- Modal account type -->
<div
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Account Type</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input
            type="text"
            id="accountType"
            name="accountType"
            class="form-control"
            placeholder="Account Type"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            id="status"
            name="status"
            class="form-control"
            placeholder="Status"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="d-flex justify-content-end w-100">
          <button type="button" class="btn btn-success" id="saveAccountType">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal user -->
<div
  class="modal fade"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  id="createUser"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h3 id="error-message" style="display: none">
          Please fill up correctly
        </h3>
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            id="accountTypeButton"
          >
            Account type
          </button>
          <ul class="dropdown-menu" aria-labelledby="accountTypeButton" style="max-height: 200px; overflow-y: auto;">
            {% for log in formatted_account_type %}
            <li>
              <a
                class="dropdown-item"
                href="#"
                onclick="updateButtonText('{{ log }}')"
              >{{ log }}</a>
            </li>
            {% else %}
            <li>
              <a
                class="dropdown-item"
                href="#"
                onclick="updateButtonText('No account types found')"
              >No account types found</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        
        <div class="input-group mb-3 mt-3">
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            placeholder="Username"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            id="password"
            name="password"
            class="form-control"
            placeholder="Password"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="input-group mb-3">
          <input
            type="text"
            id="fullname"
            name="fullname"
            class="form-control"
            placeholder="Fullname"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="d-flex justify-content-end w-100">
          <button type="button" class="btn btn-success" id="saveAccount">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="d-flex justify-content-end w-100">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#createUser"
    >
      Create Account
    </button>
  </div>
  <div class="container">
    {% if logs %}
        <table class="table mt-3">
            <thead>
                <tr>
                  <th></th>
                    <th>Username</th>
                    <th>Fullname</th>
                    <th>Status</th>
                    <th>Account type</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                
                    <tr 
                    data-id="{{ log[0] }}"
                    data-fullname="{{ log[2] }}"
                    >
                      <td>
                        <div>
                            <button type="button" class="btn btn-warning edit-btn" data-bs-toggle="modal" data-bs-target="#modalEdit">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button type="button" class="btn btn-danger" id="deactivation">
                                <i class="bi bi-x-circle-fill"></i>
                            </button>
                        </div>
                    </td>
                        <td>{{ log[1] }}</td>  <!-- Username -->
                        <td>{{ log[2] }}</td>  <!-- Action (did) -->
                        <td> {% if log[3]|int ==0 %}
                          <p style="color: red;"> Deactivate</p>
                      {% else %}
                          <p style="color: green;">Active</p>
                      {% endif %}</td>  <!-- Date (YYYY-MM-DD) -->
                        <td>{{ log[4] }}</td>  <!-- Time (12-hour format with AM/PM) -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No logs found.</p>
    {% endif %}
</div>
</div>

<!-- Include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- JavaScript to update button text -->
<script>
  function updateButtonText(selectedText) {
    // Update the button text with the selected item
    document.getElementById("accountTypeButton").innerText = selectedText;
  }
</script>
<script type="text/javascript">

  $(document).on("click", "#deactivation", function (event) {
      var row = $(this).closest("tr");
      var id = row.data("id");  // This is the unique id for the inventory item
      var codeId = row.data("fullname");
      console.log(codeId)
      console.log(id)
         $.ajax({
           url: "{{url_for('userDeactivation')}}",
           type: "POST",
           contentType: "application/json",
           data: JSON.stringify({
            id: id,
            codeId:codeId
           }),
           success: function (response) {
            setTimeout(function () {
          location.reload();
        }, 500);
        console.log(response);
             console.log(response);
           },
           error: function (error) {
             console.log(error);
           },
         });
       
    });

  $(document).on("click", "#saveAccountType", function (event) {
    var status = $.trim($("#status").val()); // No need for encodeURI unless you're sending data to a server
    var accountType = $.trim($("#accountType").val()); // No need for encodeURI unless you're sending data to a server
    console.log("Status:", status);
    console.log("Account Type:", accountType);

    $.ajax({
      url: "{{url_for('createAccountType')}}",
      type: "POST",
      contentType: "application/json",
      data: JSON.stringify({ status: status, accountType: accountType }),
      success: function (response) {
        setTimeout(function () {
          location.reload();
        }, 500);
        console.log(response);
      },
      error: function (error) {
        console.log(error);
      },
    });
  });

  $(document).on("click", "#saveAccount", function (event) {
    var fullname = $.trim($("#fullname").val()); // No need for encodeURI unless you're sending data to a server
    var password = $.trim($("#password").val());
    var Username = $.trim($("#username").val());
    var accountTypeButton = $.trim($("#accountTypeButton").text());
    // console.log("Status:", status);
    // console.log("Account Type:", accountTypeButton);
    // console.log("Username:", Username);
    // console.log("password:", password);
    // console.log("fullname:", fullname);

    var isOk = 0;
    if (accountTypeButton == "Account type") {
      isOk = 1;
      console.log(isOk);
    }
    if (Username == "") {
      isOk++;
      console.log(isOk);
    }
    if (fullname == "") {
      isOk++;
      console.log(isOk);
    }
    if (password == "") {
      isOk++;
      console.log(isOk);
    }

    if (isOk > 0) {
      $("#error-message").css({
        display: "block", // Show the element
        color: "red", // Change the text color to red
      });
      isOk=0;
      setTimeout(function () {
        $("#error-message").css({
          display: "none", // Show the element
          color: "red", // Change the text color to red
        });
      }, 4000);
    } else {
      $.ajax({
        url: "{{url_for('createAccount')}}",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({ 
            fullname: fullname, 
            password: password,
            Username: Username,
            accountTypeButton: accountTypeButton
        }),
        success: function (response) {
            setTimeout(function () {
            location.reload();
          }, 500);
          console.log(response);
        },
        error: function (error) {
          console.log(error);
        },
      });
    }
  });
</script>
{% endblock %}
